
<p><%= @profile.first_name%></p>
<p><%= @profile.last_name%></p>
<p><%= @profile.gender%></p>
<p><%= @profile.age%></p>
<p><%= @profile.house_no%></p>
<p><%= @profile.street%></p>
<p><%= @profile.city%></p>
<p><%= @profile.state%></p>
<p><%= @profile.country%></p>
<p><%= @profile.pincode%></p>

<div>
  <%= button_to "Edit", edit_profile_path(@profile) %><%= button_to "Destroy",profile_path(@profile),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</div>
  
<%= link_to 'Back'%>