<% @sellcars.each do |sellcar| %>
    <li><a href="<%= sellcars_path(sellcar) %>">
        <%= sellcar.brand%>
        <%= sellcar.model%>
        <%= sellcar.varient%>
        <%= sellcar.price%>
        </a>
     </li> 
  <% end %>