<center> 
<div class="nav-item dropdown">
         <button class="nav-link dropdown-toggle btn btn-success" id="navbarScrollingDropdown"  data-bs-toggle="dropdown" aria-expanded="false">
            BUY CAR
          </button>
          <ul class="dropdown-menu bg-info" aria-labelledby="navbarScrollingDropdown">
            <li><%= link_to 'KIA', buycar_path(:brand => "KIA")%></li>
            <li><%= link_to 'FORD', buycar_path(:brand => "MG")%></li>
            <li><%= link_to 'MARUTI', buycar_path(:brand => "MARUTI")%></li>
            <li><%= link_to 'TATA', buycar_path(:brand => "TATA")%></li>
            <li><%= link_to 'All Cars', cars_path %></li>
          </ul>
        </div></center>
  <div class="card" style="width: 18rem; height: 350px;">
      <% @cars.each do |car| %>
    <% if car.images.attached? %> 
      <% car.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    <% end %> 
</div>
    <div class="card-body" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= car.brand%>
        <li class="list-group-item"><%= car.model%>
        <li class="list-group-item"><%= car.varient%>
        <li class="list-group-item"><%= car.manufacturing_year%>
        <li class="list-group-item">₹-<%= car.price%>
    </li> 
    </ul>
    </div>
    <div>
      <%= button_to 'like', car_likes_path(car.id), :method => :post %>
      <%= car.likes.count %>
      <%#= link_to 'dislike', car_like_path(car.id), :method => :delete %>
    </div>     
    <div>
      <%= link_to raw("<i class=\"icon-search icon-white\">Enquiry</i>"), 
          new_enquiry_path(car_id: car.id), class: "btn btn-success"%>
      <%= link_to raw("<i class=\"icon-search icon-white\">Review</i>"), 
           new_rating_path(car_id: car.id),class: "btn btn-success"%>
        <%# if current_user(car_id: car.id)?(@car.user) %>
          <%= link_to 'Edit', edit_car_path(car.id) %>
          <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    </div>

  <%end%>