<div class=”carousel-inner”>
  <%  @listing.images.each_with_index do |img,i|%>
  <div class="carousel-item <%= "active " if i==0 %>">
       <%= image_tag  pic %>
  </div>
  <%end%>
</div>




<div class="container text-center">
  <div class="row row-cols-auto">
    <% if @car.images.attached? %>
      <% @car.images.each do |image| %>
        <div class="card" style="width: 18rem;, height: 350px;">
          <%= image_tag image, width: "300px", height: "200px"%>
      <% end %>
    <%end%>
        <div class="card-body">
          Brand :<%= @car.brand %>
          Model :<%= @car.model %>
          Price :<%= @car.price %>
          Manufacturing :<%=@car.manufacturing_year%>
          Varient :<%=@car.varient%>
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <%= link_to "For Enquiry", new_enquiry_path(car_id: @car.id), class:"btn btn-danger"%>
          <%= link_to "For Review", new_rating_path(car_id: @car.id),class: "btn btn-success"%> 
        </div>
        <div>
          <%= button_to 'like', car_likes_path(@car.id),:method => :post, class: "bi-bi-thumbs-up" %>
          <%= @car.likes.count %>
        </div> 
        </div>
  </div>
</div>

Reviews:
<%#= render 'ratings/ratings'  %>


<h2>Add a review:</h2>
<%#= render "ratings/form" %>

<%#= render partial: 'cars/review.fields' %>
<%#= link_to 'Review', new_car_review_path(@car)%>