<center><%= form_for @product do |f| %>

    <div>
    <%=f.label :Name %>
    <%= f.text_field :Name %><br />
    </div>

    <div>
      <%= f.label :Brand %>
      <%= f.select :brand, [['Adidas','Adidas'],['Nike','Nike'],['Puma','Puma'],['Reebok','Reebok']] %><br />
    </div>

    <div>
    <%=f.label :Price %>
    <%= f.text_field :price %><br />
    </div>
    
    <div>
      <%= f.label :size %>
      <%= f.select :size, [['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['1C','1C'],['2C','2C'],['3C','3C'],['4C','4C'],['5C','5C']] %><br />
    </div>
    
    <div>
    <%=f.label :Details %>
    <%= f.text_field :details %><br />
    </div>

    <div>
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div>
      <%= f.label :category %>
      <%= f.select :category_id, options_for_select(@categories.collect {|cat| [cat.Name, cat.id]}) %><br />
   </div>

    <%= f.submit %>
  <% end %>

</center>

  
