<%#= select_tag :category, options_for_select(%w[ Mens Womens Kids], params[:category]) , :onchange => "window.location.replace('/'+'category'+'/'+this.value);", prompt: "Select category", class: "btn btn-danger btn-sm dropdown-toggle"%>

<div class="container text-left">
  <div class="row" style="width:100%">
    <% @products.each do |product| %>
    <div class="col-4">
   
      <%= link_to (product) do %>
        <div class="card" style="width: 18rem;, height: 200px;">
        <% if product.images.attached? %>
          <%= image_tag product.images.first, width: "285px" ,height: "200px"%>
        <% end %>
      </div>
      <%end%>
        <div class="card-body">
          Name :<%= product.name %><br>
          Brand :<%= product.brand %><br>
          <h5>MRP ₹:<%= product.price %></h5><br>
        </div>
        
        </div>
       <%end%>
  </div>

</div>

<% if current_user && current_user.admin%>
  <%= link_to raw("<i class=\"icon-search icon-white\">Create New Product</i>"), 
           new_product_path, class: "btn btn-outline-dark"%>
<%end%>


