<div class="container text-center">
  <div class="row-1">
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
          <%= image_tag image, width: "300px", height: "200px"%>
      <% end %>
    <%end%>
        <div class="row-2">
          Name :<%= @product.name %><br />
          Brand :<%= @product.brand %><br />
          Price :<%= @product.price %><br />
          Size :<%=@product.size%><br />
          Details :<%=@product.details%><br />
          
        </div>
        <div>
      <%= link_to "ADD TO CART", products_path ,class: "btn btn-dark", data: {bs_toggle: "modal", bs_target: "#CartForm", remote: true} %>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="CartForm" tabindex="-1" role="dialog" aria-labelledby="CartFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="CartFormLabel">Cart Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="CartFormModal">
      </div>
      </div>
      <div>
      
    </div>

  </div>
</div>
</div>
<% if current_user && current_user.admin%>
<%= link_to raw("<i class=\"icon-search icon-white\">Edit</i>"), 
           edit_product_path(@product), class: "btn btn-outline-dark"%>

<%= link_to raw("<i class=\"icon-search icon-white\">Delete</i>"), 
           product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-dark"%>

  <li><%#= link_to "Destroy", product_path(@product),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


<% end %>

<%= link_to raw("<i class=\"icon-search icon-white\">Back</i>"), 
           products_path(@product), class: "btn btn-outline-dark"%>






