  <div class="modal-body">
    <div id="all-line-items">
       <% @line_items.each do |item| %>
        <%= image_tag item.product.images.first, style: "width: 100px;height: 100px;" %><br>
        Name: <%= item.product.name %><br>
        Brand: <%= item.product.brand %><br>
        <h5>Price: <%= item.product.price %></h5><br>
        Details: <%= item.product.details %><br>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
        <%= button_to "+", add_quantity_line_item_url:(@line_item), class:"btn btn-dark", remote: true%>
        <%= button_to "-", reduce_quantity_line_item_url:(@line_item), class:"btn btn-dark", remote: true%>
        </div>
        
        <div class="btn-group mr-2" role="group" aria-label="First group">
         Sizes:
          <button type="button" class="btn btn-outline-dark">6</button>
          <button type="button" class="btn btn-outline-dark">7</button>
          <button type="button" class="btn btn-outline-dark">8</button>
          <button type="button" class="btn btn-outline-dark">9</button>
          <button type="button" class="btn btn-outline-dark">10</button>
          <button type="button" class="btn btn-outline-dark">1C</button>
          <button type="button" class="btn btn-outline-dark">2C</button>
          <button type="button" class="btn btn-outline-dark">3C</button>
          <button type="button" class="btn btn-outline-dark">4C</button>
          <button type="button" class="btn btn-outline-dark">5C</button>
        </div>
        
        <div id = "QuantityStatus<%#=item.id%>">
        Quantity: <%#= item.quantity %><br>
        Price: <%#= item.product.price * item.quantity%><br>
        </div>
    <% end %>
    </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark">Buy Now</button>
      </div>