<%= form_for @enquiry do |f| %>
  <div>
    <%=f.label :content %>
    <%= f.text_field :content %><br />
  </div>
  <div>
    <%=f.label :Mobile %>
    <%= f.text_field :mobile %><br />
  </div>
     <div style="display: none">
    <%= f.label :car_id %><br>
    <%= f.text_area :car_id, :value => params["car_id"] %>
  </div> 
  <div>
    <%= f.submit %>
  </div>
<%end%>

